.container {
    width: 90%;
    margin: auto auto 3rem auto;
}

table {
    width: 100%;
  }

  mat-form-field{
      width: 100%;
  }

  button {
      width: 15%;
      margin-bottom: 1rem;
  }

  h1 {
      width: 100%;
      text-align: center;
      margin-bottom: 2rem;
  }

  .edit {
      color: rgb(9, 67, 155);
  }

  .delete {
    color: red;
  }

  mat-radio-group {
      display: flex;
      justify-content:  space-around;
      margin-bottom: 1rem;
  }